/********************************************************************************
 *		General
********************************************************************************/

body {
	padding		: 0;
	margin		: 0;
	overflow	: hidden;

	/*background	: #87CEEB;*/
	background	: #000000;
	font-family	: arial;
}
#canvasContainer {
	line-height	: 0;
}
.above3d {
	z-index		: 200;
}

/********************************************************************************
 *		@media
********************************************************************************/

@media screen and (max-width: 640px) {
	body {
		font-size	: 60%;
	}
	.followmetwitter {
		display		: none;
	}
	.menuosd span.line img {
		width	: 48px;
	}
}

@media screen and (min-width: 640px) {
	body {
		font-size	: 100%
	};
}

/********************************************************************************
 *		landingPageContainer
********************************************************************************/

#landingPageContainer .pagetitle
{
	font-size	: 400%;
	color		: #f00;
	text-shadow	: 0 0 0.2em #F88, 0 0 1em #F00;	
}

/********************************************************************************
 *		.jqmWindow
********************************************************************************/

#landingPageContainer	.jqmWindow,
#gamePageContainer	.jqmWindow
{
	background	: #000;
	color		: #fff;

	font-weight	: bolder;

	border		: solid;
	border-width	: 5px;
	border-color	: #FFF;
}

#landingPageContainer	.jqmWindow strong,
#gamePageContainer	.jqmWindow strong
{
	color		: #f00;
	text-shadow	: 0 0 0.2em #F88, 0 0 1em #F00;
}

.jqmWindow .button {
	text-align	: center;
}

.jqmWindow h3
{
	text-align	: center;
	color		: #f00;
	text-shadow	: 0 0 0.2em #F88, 0 0 1em #F00;
}

.jqmWindow a {
	color		: #fff;
	text-decoration	: none;
	text-shadow	: 0 0 0.2em #f88, 0 0 1em #f444;
}
.jqmWindow a:hover {
	text-decoration	: underline;
}

/********************************************************************************
 *		landingMainDialog
********************************************************************************/

#landingMainDialog {
	margin-left	: -15%;
	width		: 30%;
}


@media screen and (max-width: 640px) {
	#landingMainDialog {
		margin-left	: -30%;
		width		: 60%;
	}
}

#landingMainDialog div.button {
	font-size	: 300%;

	color		: #f00;
	text-shadow	: 0 0 0.2em #F88, 0 0 1em #F00;
	
	border-radius	: 20px;
	border		: solid;
	border-width	: 5px;
	border-color	: #FFF;

	padding		: 10px;
	margin-top	: 20px;
}
#landingMainDialog div.button:hover {
	border-color	: red;
	color		: white;
	text-shadow	: 0 0 0.2em #aaa, 0 0 0.4em #888, 0 0 1em #666;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 30%, from(white), to(red), color-stop(0,white));
}
#landingMainDialog div {
	margin-top	: 1em;
}

#landingMainDialog div.twitterUsername input {
/*	left	: 0px;
	right	: 0px;
*/}


#landingTutorialDialog {
	margin-left	: -20%;
	width		: 40%;		
}

#landingAboutDialog {
	margin-left	: -20%;
	width		: 40%;		
}

/********************************************************************************
 *		Dialog
********************************************************************************/


div.twitter-share-button.topRight {
	position: absolute;
	top	: 10px;
	right	: 10px;
}
	
div.twitter-share-button.bottomRight {
	position: absolute;
	bottom	: 0px;
	right	: 0px;
}

/********************************************************************************
 *		Dialog
********************************************************************************/

div.jqmClose.button {
	width	: 22px;
	height	: 22px;
	background-image	: url('../images/icons/10-medical.png');

	position: absolute;
	top	: 10px;
	left	: 10px;
}

.pagetitle {
	margin-left	: -25%;
	width		: 50%;
}



.menuosd .line img {
	padding			: 8px;
	
}

.menuosd .line img:hover {
	background-color	: #444;
	opacity			: 0.9;
	border-radius		: 0.5em;
}

#usernameDialog {
	margin-left	: -120px;
	width		: 240px;
}

#gameIdDialog {
	margin-left	: -120px;
	width		: 240px;
}

#speakDialog {
	margin-left	: -180px;
	width		: 360px;
}

#helpDialog {
	margin-left	: -20%;
	width		: 40%;	
}

#gameCompletedWinDialog,
#gameCompletedEndOfPackyDialog,
#gameCompletedEndOfGameDialog
{
	margin-left	: -15%;
	width		: 30%;
}

#noWebglDialog {
	margin-left	: -240px;
	width		: 480px;
}

#optionsDialog {
	margin-left	: -120px;
	width		: 240px;
	text-align	: left;
}

/********************************************************************************
 *		Chat Area
********************************************************************************/

#gamePageContainer .chatArea {
	font-size	: 150%;
	font-weight	: bold;
	font-family	: Verdana, Arial, Helvetica, sans-serif;

	color		: #FFF;
	text-shadow	: 0 0 0.1em #000, 0 0 0.2em #333;
}

#gamePageContainer .chatArea li {
	list-style-type	: none;
}

#gamePageContainer .chatArea a {
	color		: #F00;
	text-shadow	: 0 0 0.2em #F88, 0 0 1em #F00;
	text-decoration	: none;
}
#gamePageContainer .chatArea a:hover {
	text-decoration	: underline;
}

/********************************************************************************
 *		misc
********************************************************************************/

.jqmWindow  input {
	font-size	: 1.2em;
	font-weight	: bold;
}

.promptDialog  {
	text-align	: center;				
}

/********************************************************************************
 *		menuosd
********************************************************************************/

.menuosd {
	font-family	: arial;
	color		: #aaa;
	font-weight	: bold;
	text-shadow	: 0 0 0.3em #000, 0 0 0.3em #000;
}
.menuosd span.line {
	display		: block;
}
.menuosd .value {
	color		: #888;
}
.menuosd a {
	color		: #aaa;
	text-decoration	: none;
}
.menuosd a:hover {
	text-decoration	: underline;
}

#attributionMenuLine {
	color		: #fff;
	font-size	: 120%;
}
#attributionMenuLine a {
	color		: #fff;
}


#energyMenuLine,
#lifeMenuLine,
#scoreMenuLine {
	font-size	: 350%;	
	color		: #fff;
}

#energyMenuLine	img,
#lifeMenuLine	img,
#scoreMenuLine	img {
	width	: 48px;
	height	: 48px;
}

@media screen and (max-width: 640px) {
	#energyMenuLine	img,
	#lifeMenuLine	img,
	#scoreMenuLine	img {
		width	: 32px;
		height	: 32px;
	}
}

#energyMenuLine .value,
#lifeMenuLine .value,
#scoreMenuLine .value {
	color		: #f00;
	text-shadow	: 0 0 0.2em #F88, 0 0 1em #F00;
}



#helpDialog a {
	color		: #333;
	font-weight	: bold;
	text-decoration	: none;
}
#helpDialog a:hover {
	text-decoration	: underline;
}
.pagetitle {
	position	: absolute;
	top		: 10px;
	left		: 50%;
	
	font-size	: 3em;
	text-align	: center;
	color		: #ccc;
	font-family	: arial;
	font-weight	: bold;
	text-shadow	: 0 0 0.1em #fb0, 0 0 0.2em #000;
}
.pagetitle a {
	color		: inherit;
	text-decoration	: none;
}
