/********************************************************************************
 *		General
********************************************************************************/

body {
	padding		: 0;
	margin		: 0;
	overflow	: hidden;

	/*background	: #87CEEB;*/
	background	: #000000;
	font-family	: arial;
}
#canvasContainer {
	line-height	: 0;
}
.above3d {
	z-index		: 200;
}

/********************************************************************************
 *		@media
********************************************************************************/

@media screen and (max-width: 640px) {
	body {
		font-size	: 80%;
	}
	.followmetwitter {
		display		: none;
	}
}
@media screen and (min-width: 640px) {
	body {
		font-size	: 100%
	};
}

/********************************************************************************
 *		Chat Area
********************************************************************************/

#pageContainer .chatArea {
	font-size	: 150%;
	font-weight	: bold;
	font-family	: Verdana, Arial, Helvetica, sans-serif;

	color		: #000;
	text-shadow	: 0 0 0.1em #fff, 0 0 0.2em #ccc;
}

#pageContainer .chatArea li {
	list-style-type	: none;
}

#pageContainer .chatArea a {
	color		: #333;
	text-decoration	: none;
}
#pageContainer .chatArea a:hover {
	text-decoration	: underline;
}

/********************************************************************************
 *		misc
********************************************************************************/

.promptDialog  input {
	font-size	: 1.2em;
	font-weight	: bold;
}
.promptDialog  {
	text-align	: center;				
}

/********************************************************************************
 *		menuosd
********************************************************************************/

.menuosd {
	font-family	: arial;
	color		: #aaa;
	font-weight	: bold;
	text-shadow	: 0 0 0.3em #000, 0 0 0.3em #000;
}
.menuosd span.line {
	display		: block;
}
.menuosd .value {
	color		: #888;
}
.menuosd a {
	color		: #aaa;
	text-decoration	: none;
}
.menuosd a:hover {
	text-decoration	: underline;
}

#aboutDialog a {
	color		: #333;
	font-weight	: bold;
	text-decoration	: none;
}
#aboutDialog a:hover {
	text-decoration	: underline;
}
.pagetitle {
	position	: absolute;
	top		: 10px;
	left		: 50%;
	
	font-size	: 3em;
	text-align	: center;
	color		: #ccc;
	font-family	: arial;
	font-weight	: bold;
	text-shadow	: 0 0 0.1em #fb0, 0 0 0.2em #000;
}
.pagetitle a {
	color		: inherit;
	text-decoration	: none;
}
.jqmWindow h3 {
	text-align	: center;
}