/********************************************************************************
 *		General
********************************************************************************/

body {
	padding		: 0;
	margin		: 0;
	overflow	: hidden;

	/*background	: #87CEEB;*/
	background	: #000000;
	font-family	: arial;
}
#canvasContainer {
	line-height	: 0;
}
.above3d {
	z-index		: 200;
}

/********************************************************************************
 *		@media
********************************************************************************/

@media screen and (max-width: 640px) {
	body {
		font-size	: 80%;
	}
	.followmetwitter {
		display		: none;
	}
}
@media screen and (min-width: 640px) {
	body {
		font-size	: 100%
	};
}

/********************************************************************************
 *		landingMainDialog
********************************************************************************/

#landingMainDialog {
	margin-left	: -240px;
	width		: 480px;
}

#landingHelpDialog {
	margin-left	: -240px;
	width		: 480px;
}

#landingMainDialog div.button {
	font-size	: 130%;
	background	: #aaa;
	color		: #444;
	padding		: 15px;
	border-radius	: 20px;
	border		: solid;
	border-width	: 2px;
	border-color	: #888;
	text-shadow	: 0px 1px 0px #111;
}
#landingMainDialog div.button:hover {
	background-color	: #666;
}
#landingMainDialog div {
	margin-top	: 1em;
}

#landingMainDialog div.twitterUsername input {
	left	: 0px;
	right	: 0px;
}

/********************************************************************************
 *		Dialog
********************************************************************************/


div.twitter-share-button.topRight {
	position: absolute;
	top	: 10px;
	right	: 10px;
}
	
div.twitter-share-button.bottomRight {
	position: absolute;
	bottom	: 0px;
	right	: 0px;
}

/********************************************************************************
 *		Dialog
********************************************************************************/

div.jqmClose.button {
	width	: 22px;
	height	: 22px;
	background-image	: url('../images/icons/10-medical.png');

	position: absolute;
	top	: 10px;
	left	: 10px;
}

.pagetitle {
	margin-left	: -25%;
	width		: 50%;
}



.menuosd .line img {
	padding			: 8px;
	
}

.menuosd .line img:hover {
	background-color	: #444;
	opacity			: 0.9;
	border-radius		: 0.5em;
}

#usernameDialog {
	margin-left	: -120px;
	width		: 240px;
}

#gameIdDialog {
	margin-left	: -120px;
	width		: 240px;
}

#speakDialog {
	margin-left	: -180px;
	width		: 360px;
}

#aboutDialog {
	margin-left	: -30%;
	width		: 60%;	
}

#gameCompletedNoMorePillsDialog {
	margin-left	: -240px;
	width		: 480px;	
}

#gameCompletedPlayerKilledDialog {
	margin-left	: -240px;
	width		: 480px;
}

#noWebGLDialog {
	margin-left	: -240px;
	width		: 480px;
}

/********************************************************************************
 *		Chat Area
********************************************************************************/

#gamePageContainer .chatArea {
	font-size	: 150%;
	font-weight	: bold;
	font-family	: Verdana, Arial, Helvetica, sans-serif;

	color		: #000;
	text-shadow	: 0 0 0.1em #fff, 0 0 0.2em #ccc;
}

#gamePageContainer .chatArea li {
	list-style-type	: none;
}

#gamePageContainer .chatArea a {
	color		: #333;
	text-decoration	: none;
}
#gamePageContainer .chatArea a:hover {
	text-decoration	: underline;
}

/********************************************************************************
 *		misc
********************************************************************************/

.promptDialog  input {
	font-size	: 1.2em;
	font-weight	: bold;
}
.promptDialog  {
	text-align	: center;				
}

/********************************************************************************
 *		menuosd
********************************************************************************/

.menuosd {
	font-family	: arial;
	color		: #aaa;
	font-weight	: bold;
	text-shadow	: 0 0 0.3em #000, 0 0 0.3em #000;
}
.menuosd span.line {
	display		: block;
}
.menuosd .value {
	color		: #888;
}
.menuosd a {
	color		: #aaa;
	text-decoration	: none;
}
.menuosd a:hover {
	text-decoration	: underline;
}


#energyMenuLine,
#scoreMenuLine {
	font-size	: 350%;	
	color		: #fff;
}

#energyMenuLine .value,
#scoreMenuLine .value {
	color		: #fff;
}

#energyMenuLine {
	
}



#aboutDialog a {
	color		: #333;
	font-weight	: bold;
	text-decoration	: none;
}
#aboutDialog a:hover {
	text-decoration	: underline;
}
.pagetitle {
	position	: absolute;
	top		: 10px;
	left		: 50%;
	
	font-size	: 3em;
	text-align	: center;
	color		: #ccc;
	font-family	: arial;
	font-weight	: bold;
	text-shadow	: 0 0 0.1em #fb0, 0 0 0.2em #000;
}
.pagetitle a {
	color		: inherit;
	text-decoration	: none;
}
.jqmWindow h3 {
	text-align	: center;
}